body{
	background: black;
}
#box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid transparent;
	height: 200px;
	width: 400px;
	font-weight: 900;
	font-size: 100px;
	background: url('matrix4.gif');
	background-size: cover;
	color: transparent;
	-webkit-background-clip: text;
}