body{
	background: #333;
}
#left{
	height: 250px;
	width: 150px;
	transform: rotate(-45deg);
	margin-top: 100px;
	margin-left: 100px;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	background: #eb3349;
}
#right{
	height: 250px;
	width: 150px;
	transform: rotate(-314deg);
	margin-top: -249px;
	margin-left: 173px;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	 background: linear-gradient(to right, #eb3349, #f45c43); 
}