body{
	background: #333;
}
#main{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
}
@keyframes doit{
	0%{
		transform: translateY(0);
	}
	60%{
		transform: translateY(0);
	}
	80%{
		transform: translateY(-20px);
		background: aqua;
		border: 1px solid transparent;
	}
	100%{
		transform: translateY(0);
	}
}
#l1{
	border: 1px solid white;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background: white;
	animation: doit 2s linear infinite;
}
#l2{
	background: white;
	border: 1px solid white;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	margin-left: 2px;
	animation: doit 2s linear infinite;
	animation-delay: -1.8s;	
}
#l3{
	background: white;
	border: 1px solid white;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	margin-left: 2px;
	animation: doit 2s linear infinite;
	animation-delay: -1.6s;
}	
#l4{
	background: white;
	border: 1px solid white;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	margin-left: 2px;
	animation: doit 2s linear infinite;
	animation-delay: -1.4s;
}
#l5{
	background: white;
	border: 1px solid white;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	margin-left: 2px;
	animation: doit 2s linear infinite;
	animation-delay: -1.2s;
}