body{
	margin:0;
	padding:0;
	font:40px LOADINK;
	background:lightgreen;
	justify-content: center;
	align-items: center;
}
p{
	font:20px arial;
	color:white;
	text-align:center;
}
a{
	font:20px arial;
	color:white;
	text-align:center;
	text-decoration: none;
}
.box{
	width:300px;
	padding:40px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:#191919;
	text-align:center;
	transition: 1s linear;
	border-radius: 25px;
}
.box h1{
	color:white;
	font-weight:500;
}
.box input[type="text"],.box input[type="password"]{
	border::0;
	background:none;
	display:block;
	margin:20px auto;
	text-align:center;
	border:2px solid #3498db;
	padding:14px 10px;
	width:200px;
	outline:none;
	color:white;
	border-radius:24px;
	transition:0.25s;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
	width:280px;
	border-color:#2ecc71;
}
.box input[type="submit"]{
	border::0;
	background: linear-gradient(90deg, #000046, #1CB5E0, #1CB5E0, #000046);
	background-size: 400%;
	display:block;
	margin:20px auto;
	text-align:center;
	border:2px solid transparent;
	padding:14px 40px;
	outline:none;
	color:white;
	border-radius:24px;
	transition:0.25s;
	cursor:pointer;
}
.box input[type="submit"]:hover{
	animation: doit 8s linear infinite;
	transform: rotate(360deg);
	transition: 1s ease-out;
}
@keyframes doit{
	0%{
		background-position: 0%;
	}
	100%{
		background-position: 400%;
	}
}
a:hover {
	border-radius: 25px;
	transition: .5s linear;
	padding: 10px;
	border: 5px solid transparent;
	border-image: url('border.png') 10%;
}
@media screen and (min-width: 600px) {
  body {
    background-color: #34495e;
  }
}