#main{
	border: 5px solid black;
	height: 500px;
	width: 300px;
	border-radius: 60px;
}
#screen{
	border: 7px solid black;
	height: 370px;
	width: 230px;
	margin-left: 30px;
	margin-top: 40px;
}
#home{
	border: 10px solid black;
	height: 40px;
	width: 40px;
	margin-left: 125px;
	margin-top: 8px;
}